<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IronOcr.LicenseKey" value="IRONOCR.HERADSSKJALASAFNARNESINGA.IRO250627.4367.68105B-60E8E25D84-DKF6KTP6HTX3IWV-HDL45TBMNW3F-OJG3ETWO6MXG-JBIRWBT6DEAA-2TSBIJEYRUKI-Q5L25K-LE2YLHQ43QKREA-IRONOCR.DOTNET.LITE.SUB-URLPS5.RENEW.SUPPORT.27.JUN.2026"/>
	</appSettings>
</configuration>