<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IronOcr.LicenseKey" value="IRONOCR.HERADSSKJALASAFNARNESINGA.IRO240627.5803.42162B-745DAE21E2-DMUL6DZUUIQIJPB-R6W7HERNFTSK-EQ4E6QJQIIM3-NR2S6NB2FYRS-O2W6ZBWKZ5LM-LFDMDQ-L4KQEX7KWKGPUA-IRONOCR.DOTNET.LITE.SUB-XCBNBQ.RENEW.SUPPORT.27.JUN.2025"/>
	</appSettings>
</configuration>