<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_admin"
			 connectionString="server = localhost; user id = root; Password = ivarBjarkLind; persist security info = True; database = db_oais_admin; allow user variables = True; character set = utf8"/>
		<add name="connection_afrit"
			 connectionString="server = localhost; user id = root; Password = ivarBjarkLind; persist security info = True; database = db_oais_admin_afrit; allow user variables = True; character set = utf8"/>
		<add name="connection_allt"
			 connectionString="server = localhost; user id = root; Password = ivarBjarkLind;"/>
	</connectionStrings>
</configuration>